<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Project et task -->
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Les urgences</h3>
            </div>
            <!-- Form -->
            <form class="col" *ngIf="urgentTasks && urgentTasks.length > 0">
              <div
                class="input-group input-group-rounded input-group-merge border-primary">
                <input type="search"
                  class="form-control form-control-rounded form-control-prepended border-primary"
                  placeholder="Search" aria-label="Search tasks"
                  [(ngModel)]="searchTermUrgentTasks"
                  (input)="filterUrgentTasks()">
                <div class="input-group-prepend">
                  <div class="input-group-text text-primary">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>

            <div class="col text-right">
              <button type="button" class="btn btn-sm btn-success"
                *ngIf="urgentTasks && urgentTasks.length > 1"
                (click)="redirectToUrgentTask()">See all</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush"
            *ngIf="filteredTasks && filteredTasks.length > 0">
            <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of urgentTasks | slice:0:3">
                <th scope="row">{{task.name_task}}</th>
                <td>{{task.description_task}}</td>
                <td>{{task.status}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table align-items-center table-flush"
            *ngIf="urgentTasks && urgentTasks.length ===  0">
            <tr>
              <td colspan="4">No tasks found.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Projets -->
  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Projets</h3>
            </div>
            <form class="col"
              *ngIf="filteredProjects && filteredProjects.length > 0">
              <div
                class="input-group input-group-rounded input-group-merge border-primary">
                <input type="search"
                  class="form-control form-control-rounded form-control-prepended border-primary"
                  placeholder="Search" aria-label="Search projects"
                  [(ngModel)]="searchTermProjects" (input)="filterProjects()">
                <div class="input-group-prepend">
                  <div class="input-group-text text-primary">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>

            <div class="col text-right">
              <button type="button" class="btn btn-sm btn-success"
                *ngIf="filteredProjects && filteredProjects.length > 1"
                (click)="redirectToListProjects()">See all</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush"
            *ngIf="filteredProjects && filteredProjects.length > 0">
            <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of filteredProjects | slice:0:3">
                <th scope="row">{{ project.name_project }}</th>
                <td>{{ project.description_project }}</td>
                <td>{{ project.status }}</td>
              </tr>
            </tbody>
          </table>

          <table class="table align-items-center table-flush"
            *ngIf="filteredProjects && filteredProjects.length === 0">
            <tr>
              <td colspan="4">No projects found.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Taches -->
  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Taches</h3>
            </div>
            <form class="col" *ngIf="filteredTasks && filteredTasks.length > 0">
              <div
                class="input-group input-group-rounded input-group-merge border-primary">
                <input type="search"
                  class="form-control form-control-rounded form-control-prepended border-primary"
                  placeholder="Search" aria-label="Search tasks"
                  [(ngModel)]="searchTermTasks" (input)="filterTasks()">
                <div class="input-group-prepend">
                  <div class="input-group-text text-primary">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>

            <div class="col text-right">
              <button type="button" class="btn btn-sm btn-success"
                *ngIf="filteredTasks && filteredTasks.length > 1"
                (click)="redirectToListTasks()">See all</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush"
            *ngIf="filteredTasks && filteredTasks.length > 0">
            <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of filteredTasks | slice:0:3">
                <th scope="row">{{task.name_task}}</th>
                <td>{{task.description_task}}</td>
                <td>{{task.status}}</td>
                <td>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="onDeleteProject(project._id_project)">Delete</button>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="redirectToEditProject( user?._id_user,project._id_project)">Update</button>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table align-items-center table-flush"
            *ngIf="filteredTasks && filteredTasks.length ===  0">
            <tr>
              <td colspan="4">No tasks found.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Commentaire Section (disponible pour tous les utilisateurs) -->
  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Commentaires</h3>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="commentaire">Laissez un commentaire :</label>
              <textarea id="commentaire" class="form-control" rows="3"
                placeholder="Votre commentaire..."></textarea>
            </div>
            <button type="submit" class="btn btn-success">Envoyer</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
