<div class="header bg-gradient-success py-7 py-lg-8">
  <div class="container"></div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none"
      version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <h1>Enregistrement</h1>
          </div>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-single-02"></i></span>
                </div>
                <input
                class="form-control"
                placeholder="Name"
                id="name_user"
                formControlName="name_user">
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-email-83"></i></span>
                </div>
                <input class="form-control" placeholder="Email" id="email"
                  formControlName="email" type="email">
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Password"
                  type="password" id="mdp" formControlName="mdp">
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-lock-circle-open"></i></span>
                </div>
                <input class="form-control" placeholder="Confirm Password"
                  type="password" id="confirm_mdp"
                  formControlName="confirm_mdp">
              </div>
            </div>
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i
                      class="ni ni-bullet-list-67"></i></span>
                </div>
                <input class="form-control" placeholder="Infos" id="infos_user"
                  formControlName="infos_user">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark my-4">Register</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>Forgot
              password?</small></a>
        </div>
        <div class="col-6 text-right">
          <a href="javascript:void(0)" class="text-light"
            routerLinkActive="active"
            [routerLink]="['/login']"><small>Sign in</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
