<div class="header bg-gradient-success py-6 py-lg-6">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none"
      version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Projets</h3>
            </div>
            <form class="col">
              <div
                class="input-group input-group-rounded input-group-merge border-primary">
                <input type="search"
                  class="form-control form-control-rounded form-control-prepended border-primary"
                  placeholder="Search"
                  aria-label="Search"
                  [(ngModel)]="searchTerm"
                  (input)="filterProjects()">
                <div class="input-group-prepend">
                  <div class="input-group-text text-primary">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>
            <div class="col text-right">
              <button type="button"
                class="btn btn-sm btn-default"
                (click)="redirectToCreateProject(user._id_user)">Create</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Statut</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of filteredProjects">
                <th scope="row">{{ project.name_project }}</th>
                <td>{{ project.description_project }}</td>
                <td>{{ project.status }}</td>
                <td>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="onDeleteProject(project._id_project)">Delete</button>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="redirectToEditProject( user?._id_user,project._id_project)">Update</button>

                </td>
              </tr>
              <tr *ngIf="filteredProjects.length === 0">
                <td colspan="4" class="text-center">No projects found.</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
