<div class="header bg-gradient-success py-7 py-lg-8">
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none"
      version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5 ">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <form
            [formGroup]="taskForm"
            (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <input
                  class="form-control"
                  value="Task 1" type="text"
                  placeholder="New task"
                  formControlName="task_name">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <textarea
                  class="form-control form-control-alternative"
                  rows="3" placeholder="Description ..."
                  formControlName="description_task"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <input class="form-control" placeholder="Status" type="text"
                  formControlName="status">
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-dark mt-4"
                [disabled]="taskForm.invalid"> {{ isUpdateMode ? 'Update Task' :
                'Create Task' }}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
