<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <!-- Datepicker à gauche -->
        <!--<div class="col-xl-8 col-lg-8 mb-5 mb-xl-0">
          <div class="h-100 d-flex flex-column">
            <div
              class="input-daterange datepicker row align-items-center flex-grow-1 w-100">
              <ngb-datepicker #dp (select)="onDateSelection($event)"
                [displayMonths]="2" [dayTemplate]="t" class="w-100">
              </ngb-datepicker>
              <ng-template #t let-date let-focused="focused">
                <span class="custom-day"
                  [class.focused]="focused"
                  [class.range]="isRange(date)"
                  [class.faded]="isHovered(date) || isInside(date)"
                  [class.range-start]="date && fromDate && date.day === fromDate.day && date.month === fromDate.month"
                  [class.range-end]="date && toDate && date.day === toDate.day && date.month === toDate.month"
                  (mouseenter)="hoveredDate = date"
                  (mouseleave)="hoveredDate = null">
                  {{ date.day }}
                </span>
              </ng-template>
            </div>
          </div>
        </div>
        <!-- Cards for urgent tasks, urgent projects, and performance -->
        <div class="col-md-6 mb-4">
          <div class="card card-stats mb-8 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-danger mb-0">
                    <strong>Tâches urgentes !</strong>
                  </h5>
                </div>
                <div class="col-auto">
                  <button type="button"
                    class="btn btn-sm btn-danger">Détails</button>
                </div>
              </div>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i
                    class="fas fa-exclamation-triangle"></i> Tâche 1</span>
              </p>
              <p class="mt-2 mb-0 text-muted text-sm">
                <span class="text-danger mr-2"><i
                    class="fas fa-exclamation-triangle"></i> Tâche 2</span>
              </p>
            </div>
          </div>
        </div>
        <!-- Your performance -->
        <div class="col-md-6 mb-4">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">Votre
                    Performance</h5>
                  <span class="h2 font-weight-bold mb-0">49,65%</span>
                </div>
                <div class="col-auto">
                  <div
                    class="icon icon-shape bg-info text-white rounded-circle shadow">
                    <i class="fas fa-percent"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <span class="text-success mr-2"><i class="fas fa-arrow-up"></i>
                  12%</span>
                <span class="text-nowrap">Depuis le mois dernier</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Project et task-->
<div class="container-fluid mt--7">
  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Projets</h3>
            </div>
            <!-- Form -->
            <form class="col">
              <div
                class="input-group input-group-rounded input-group-merge border-primary">
                <input type="search"
                  class="form-control form-control-rounded form-control-prepended border-primary"
                  placeholder="Search"
                  aria-label="Search projects"
                  [(ngModel)]="searchTermProjects"
                  (input)="filterProjects()">
                <div class="input-group-prepend">
                  <div class="input-group-text text-primary">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>

            <div class="col text-right">
              <button type="button" class="btn btn-sm btn-primary"
                (click)="redirectToListProject(user._id_user)">See
                all</button>
              <button type="button"
                class="btn btn-sm btn-default"
                (click)="redirectToCreateProject(user._id_user)">Create
              </button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Projects table -->
          <table class="table align-items-center table-flush"
            *ngIf="filteredProjects && filteredProjects.length > 0">
            <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">description</th>
                <th scope="col">status</th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let project of filteredProjects | slice:0:3">
                <th scope="row">
                  {{ project.name_project }}
                </th>
                <td>
                  {{ project.description_project }}
                </td>
                <td>
                  {{ project.status }}
                </td>
                <td>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="onDeleteProject(project._id_project)">Delete</button>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="redirectToEditProject( user?._id_user,project._id_project)">Update</button>
                  <button type="button"
                    class="btn btn-sm btn-default">Details</button>
                </td>
              </tr>
            </tbody>

          </table>
          <table class="table align-items-center table-flush"
            *ngIf="filteredProjects && filteredProjects.length === 0">
            <tr>
              <td colspan="4">No projects found.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </div>
  <div class="row mt-5">
    <div class="col-xl-12">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">Taches</h3>
            </div>
            <!-- Form -->
            <form class="col">
              <div
                class="input-group input-group-rounded input-group-merge border-primary">
                <input type="search"
                  class="form-control form-control-rounded form-control-prepended border-primary"
                  placeholder="Search"
                  aria-label="Search tasks"
                  [(ngModel)]="searchTermTasks"
                  (input)="filterTasks()">
                <div class="input-group-prepend">
                  <div class="input-group-text text-primary">
                    <span class="fa fa-search"></span>
                  </div>
                </div>
              </div>
            </form>

            <div class="col text-right">
              <button type="button" class="btn btn-sm btn-primary"
                (click)="redirectToListTask(user ? user._id_user : null)">See
                all</button>
              <button type="button"
                class="btn btn-sm btn-default"
                (click)="redirectToCreateTask(user ? user._id_user : null)">Create</button>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <!-- Tasks table -->
          <table class="table align-items-center table-flush"
            *ngIf="filteredTasks && filteredTasks.length > 0">
            <thead class="thead-light">
              <tr>
                <th scope="col">Titre</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let task of filteredTasks | slice:0:3">
                <th scope="row">{{task.name_task}}</th>
                <td>{{task.description_task}}</td>
                <td>{{task.status}}</td>
                <td>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="onDeleteTask(task._id_task)">Delete</button>
                  <button type="button"
                    class="btn btn-sm btn-default"
                    (click)="redirectToEditTask( user?._id_user,task._id_task)">Update</button>
                  <button type="button"
                    class="btn btn-sm btn-default">Details</button>
                </td>
              </tr>
            </tbody>
          </table>

          <table class="table align-items-center table-flush"
            *ngIf="filteredTasks && filteredTasks.length ===  0">
            <tr>
              <td colspan="4">No tasks found.</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
